.footer{
    background-color: #29402f;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
   
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.project-title{
    font-size: larger;
}